<!doctype html>
<html lang="en">

{% include "header.html" %}

<body class="text-center">

  <main class="form-signin">

    <form method="POST" action="login">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input name="username" type="text" class="form-control" id="floatingInput" placeholder="johndoe123">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

    </form>
  </main>



</body>

</html>